body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#mainContainer{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}

p {
    margin:0;
    padding:0;
}

h2 {
    
}

nav {
    background: lightblue;
    display:block;
    float:left;
    height:2%;
    width:100vw;
    position:sticky;
    padding: 1em 0em 1em 0em;
}

nav > div > p {
    text-transform: uppercase;
    display:inline-block;
    margin: 0em 1em 0em 1em;
}

nav > div > p:hover {
    text-decoration: underline;
    font-weight: bold;
}

#navLeftText {
    display:block;
    float:left;
    height:100;
}

#navRightText {
    display:block;
    float:right;
    height:100;
}

section {
    display:block;
    float:left;
    width:33vw;
    height:94.55vh;
    background:lightgreen;
}

section > #sectionHeader > h2 {
    margin-top: 0;
    background:rgb(201, 65, 65)
}

.item {
    margin-bottom: 11px;
}

.thumbnail {
    display:block;
    float:left;
}

.artName {
    font-size:1.5em;
}


