body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    margin:0;
    padding: 0;
    text-align:center;
    text-transform:uppercase;
}

h1 {
    margin: 0;
    padding: 0;
}


#container {
    width:100%;
    height:100%;
    display:block;
}

#leftSection{
    height:100vh;
    width: 15%;
    display:block;
    float:left;
}

#topStory{
    height:20%;
    width:100%;
    background: rgb(50, 250, 233);
    margin-bottom: 5%;
    border-bottom: 1px solid black;
}

#topStory p {

}

#topStory > img {
    height: 90%;
    width: 100%;
    object-fit:contain;
    bottom:0;
}
#otherStories{
    height:45%;
    width:100%;
    background: rgb(50, 180, 255);
}

#otherStories > img {
    height: 100%;
    width: 100%;
    object-fit:contain;
}

#news{
    background:yellow;
    height: 32%;
    margin-top: 5%;
}

#news > img {
    height:100%;
    width:100%;
    object-fit:contain;
}

#rightSection {
    display:block;
    float:right;
    width:84%;
    height:100vh;
    margin-left: 1%;
}

#headArticle {
    height: 66%;
    width:100%;
    background: yellowgreen;
}

#headArticle h3{
    position:relative;
    top: 50%;
}

#rightBottom {
    margin-top: 1%;
    height:33%;
}

#featured {
    background:rgb(226, 115, 115);
    height: 100%;
    display: block;
    width:86.25%;
    float:left;
    margin-right:1%;
}

#ads{
    display:block;
    float:right;
    background:rgb(180, 62, 62);
    width: 12.75%;
    height:100%;
}

#ads > a > img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}