body{
    margin:0;
    padding:0;
}

.flex_item{
    background:lightgray;
    display: flex;
    height:100px;
    margin: 15px;
    width:100px;
}

#main_flex_container{
    background:lightcoral;
    display: flex;
    height: 100vh;
    width: 100%;
}